<h2>Contact Us</h2>
<p>
Abigail Lind, Ph.D. <br>
Assistant Professor <br>
School of Biological Sciences <br>
email: abigail (dot) lind (at) gatech (dot) edu <br>
<br>
</p>

<p>
 <h3> Interested in joining the Lind lab? </h3>
 We are always looking for motivated and talented people. Please get in touch directly with Abigail to ask about open positions. We welcome applicants from all backgrounds.<br>
<br>
<!-- <p>
 <h3> Read our <a href="{{ site.url }}/philosophy/">lab compact and philosophy</a></h3>

</p>


<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul> -->
